
            body{
               background-image: url('Images/bg.png');
            }

			menu{
				   left:50%;
				   margin-left:-512px;
                                   margin-bottom:20px;
                                   position:absolute;
			}
				
			li{
			   color:rgb(290, 186, 94);
			   text-shadow: 0.1em 0.1em 0.2em black;
			}
				
			
            p.Nome{
            
                color:rgb(290, 186, 94);
                font-size:27px;
                margin: 10px;
                margin-bottom: 50px;
                text-shadow: 0.1em 0.1em 0.2em black;
                           
            }

            .LeftMenu{
                background-color:rgba(149, 165, 166,0.7);          
                float:left;
                text-align:center;
                vertical-align:middle;
                height:724px;
				width:325px;
				box-shadow: 0px 8px 15px #ccc;
				border-top-left-radius:2em;
				border-bottom-left-radius:2em;
				
            }
            
            .Links{
            	display:block;
            	text-decoration:none;
            	color:rgb(280, 176, 84);
            	font-size: 20px;
            	margin-top: 20px;
                text-shadow: 0.1em 0.1em 0.2em black;
				border:none;
            }

            a.LinksPers{
            	text-decoration:none;
                text-align:left;
                text-shadow: 0.1em 0.1em 0.2em black;
				border:none;
            }
            
            article.Home{
            	background-color:rgba(169,185,186,0.5);
				float:left;
                height:724px;
				width:599px;
				box-shadow: 5px 8px 15px #ccc;
				border-top-right-radius:2em;
				border-bottom-right-radius:2em;
            }
            
            p.HomeText{
            	color:rgb(280, 196, 84);
                font-size:18px;
                text-align:left;
                margin-left: 5%;
                text-shadow: 0.1em 0.1em 0.2em black;
            }
			
			p.HomeTextTop{
					color:rgb(280, 196, 84);
					font-size:18px;
					text-align:left;
					margin-left: 5%;
					margin-top:30%;
					text-shadow: 0.1em 0.1em 0.2em black;
				}
				
			.tables{
				margin-left:15%;
				margin-right:15%;
				margin-top:15%;
					
			}
				
			.image{
				height:100px;
				width:100px;
			
			}
				
			.imageUtil{
				height:70px;
			}
			
			.imageUtilSc{
				height:50px;
			}

			tr{
				height:150px;
				
			}
				
			th{
				width:200px;
			}
				
			.Personal{
				background-color:rgba(169,185,186,0.8);
				float:left;
				height:724px;
				width:695px;
				
			}
				
			.quote{
				color:rgb(280, 196, 84);
				font-size:15px;
				text-align:left;
				margin-left: 5%;
				text-shadow: 0.1em 0.1em 0.2em black;
			}
				
			.foot{
				margin-top:100px;
				
			}

			.footCss{
				margin-top:300px;
			}
				
			.pageDefinition{
				color:rgb(290, 186, 94);
				font-size:27px;
				margin: 10px;
				text-align:center;
				margin-bottom: 50px;
				text-shadow: 0.1em 0.1em 0.2em black;
				
			 }
